.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  background-color: lightblue;
}


.App-header {
  width: 700px;
  font-size: 15px;
  color: black;
}

.current {
  font-size: 20px;
  font-weight: bold;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 20px;
  border-style: solid;
}

.columns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box {
  display: flex;
  height: 400px;
  width: 400px;
  background-color: beige;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-items: center;
  vertical-align: middle;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  border-style: solid;
}

.leftright {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px
}

.lrbutton {
  padding: 10px;
  width: 100px;
  font-size: 20px;
  border-radius: 10px;
}

.history {
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
}

.fav {
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
}

.top {
  display: flex;
  flex-direction: column;
}

.newfact {
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
}